<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type = text/css href="{% static 'css/style1.css' %}">
</head>
<body>
{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'home1' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>

    <div class="content">

    </div>
{% endblock %}
</body>
</html>
