<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/products.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid" id="container1">
        <h1>OUR PRODUCTS</h1>
    </div>
    <div class="row" id="container2">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card"> 
            <div class="card-body">
                <img src="../static/images/image1.png" class="card-img-top">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <form action="/products" method = 'POST'>
              <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image1.png">
                <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <div class="card-body">
                <img src="../static/images/image2.png" class="card-img-top">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <form action="/products" method = 'POST'>
                 <input type="hidden" name = "apple" value="Name:" >
                <input type="hidden" name="image" value="../static/images/image2.png">
                <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
              <div class="card-body">
                <img src="../static/images/image3.png" class="card-img-top">
                <h5 class="card-title">Apple</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <form action="/products" method = 'POST'>
                  <input type="hidden" name = "apple" value="Name: Apple Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image3.png">
                <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
              <div class="card-body">
                <img src="../static/images/image4.png" class="card-img-top" alt="...">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <form action="/products" method = 'POST'>
                   <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image4.png">
                <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
              <div class="card-body">
                <img src="../static/images/image5.png" class="card-img-top" alt="...">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <form action="/products" method = 'POST'>
                   <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image5.png">
                <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
              <div class="card-body">
                <img src="../static/images/image6.png" class="card-img-top" alt="...">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <form action="/products" method = 'POST'>
                   <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image6.png">
                <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
              <div class="card-body">
                <img src="../static/images/image7.png" class="card-img-top" alt="...">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <form action="/products" method = 'POST'>
                   <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image7.png">
                <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
              <div class="card-body">
                <img src="../static/images/image8.png" class="card-img-top" alt="...">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <form action="/products" method = 'POST'>
                   <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image8.png">
                <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
              <div class="card">
                <div class="card-body">
                  <img src="../static/images/image9.png" class="card-img-top" alt="...">  
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <form action="/products" method = 'POST'>
                     <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image9.png">
                  <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
              <div class="card">
                <div class="card-body">
                  <img src="../static/images/image10.png" class="card-img-top" alt="...">  
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <form action="/products" method = 'POST'>
                     <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image10.png">
                  <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
                </div>
              </div>
          </div>
        </form>
          <div class="col-lg-4 col-md-4 col-12">
              <div class="card">
                <div class="card-body">
                  <img src="../static/images/image11.png" class="card-img-top" alt="...">  
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <form action="/products" method = 'POST'>
                     <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image11.png">
                  <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
                </div>
              </div>
            </div>
          <div class="col-lg-4 col-md-4 col-12">
              <div class="card">
                <div class="card-body">
                  <img src="../static/images/image12.png" class="card-img-top" alt="...">  
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <form action="/products" method = 'POST'>
                    <input type="hidden" name = "apple" value="Name: raja Watch Buy this @29/-" >
                <input type="hidden" name="image" value="../static/images/image12.png">
                  <button class="btn btn-primary" type="submit">Go somewhere</button>
                </form>
                </div>
              </div>
          </div>
    </div>
    
    <div class="container-fluid" id="container3">
          <h3>Buy Our Products and Experience the Smartness !!!</h3>
    </div>
</body>
</html>